html, body {
  height: 100%;
  /*margin: 20px;*/
}

header {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #444;
}

.application,{
  height: 100%;
}

.image-container {
  width: 1024px;
  height: 768px;
  margin: 100px auto;
  background-color: aqua;
  text-align: center;
  line-height: 768px;
}

img {
  transition: all 0.3s;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
