html, body {
  height: 100%;
  /*margin: 20px;*/
}

header {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #444;
}

.application,{
  height: 100%;
}

.image-container {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 100px auto;
  background-color: aqua;
  text-align: center;
  line-height: 768px;
}

img {
  transition: all 0.3s;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  cursor: pointer;
}

.rotate {
  background: url('rotate.png') no-repeat center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s, transform 0.6s;
}

img:hover + .rotate {
  opacity: 0.5;
  transform: rotate(45deg);
}

